/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --font-one: "Alata", sans-serif;
  --font-two: "Josefin Sans", sans-serif;
  --font-size: 15px;

  /*========== Font weight ==========*/
  --weight-one: 400;
  --weight-two: 300;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-one);
  font-size: var(--font-size);
  /* background-color: var(--body-color); */
  color: var(--black);
}

h1,
h2,
h3 {
  color: var(--black);
  font-weight: var(--weight-one);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER ===============*/
.header__holder {
  position: relative;
}

.header__titles {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 90px;
}

.header__titles ul{
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
  color: var(--white);
  font-size: var(--font-size);
}

.header__background {
  width: 100%;
  height: 600px;
}

.header__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white);
  padding: 10px;
  bottom: 70px;
  left: 70px;

}

.header__text span {
  color: white;
  font-size: 80px;
  font-family: var(--font-two);
}
